/** Basic style sheet **/
/** type=diverging&scheme=RdYlBu&n=5 
#d7191c
#fdae61
#ffffbf
#abd9e9
#2c7bb6
**/

*.*{
 margin:0 0;
 padding: 0 0;
}
html{
 width: 100%;
 color: #404040;
}
body{
 width: 100%;
 margin: 0 auto;
}

#main{
 width: 90%;
 margin: 0 auto;
 background-color: #ffffbf;
}


